# Dependencies
node_modules
.pnpm-store

# Build
dist
build
coverage

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment Variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

# Vite
vite.svg

# Redis
dump.rdb

# Temporary
tmp
temp
.cache